.root {
    position: relative;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 27px;
    margin-top: 10px;

    &:focus {
        box-shadow: 1px 1px rgb(45, 41, 36);
    }
    
}
.icon {
    height: 25px;
    width: 25px;
    position: absolute;
    top: 15px;
    left: 2px;
    opacity: 0.4;
}